<h1>Reports</h1>


<p>Available reports are listed below.</p>


<div>
  <h4>Product Counts</h4>
  <ul>
    <% Group.all.each do |group| %>
      <li><%= link_to group.label, reports_product_count_path(:format => :csv, :group_id => group.id) %></li>
    <% end %>
  </ul>
</div>
